*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
    list-style-type: none;
    border: none;
    font-family: "Jost", sans-serif;
    text-decoration: none !important;
}
body{
    background-color:#ffffff;
    color: #000;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 35px 12%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background: transparent;
    transition: all .5s ease;
}
.logo{
    font-size: 35px;
    font-weight: 700;
    color: black;
}
span{
    color: palevioletred;
}
.nav-list{
    display: flex;
    margin-bottom: 0px;
}
.nav-list a{
    margin: 0 25px ;
    color: palevioletred;
    transition: transform.4s;
}
ul li{
    transition: transform.4s;
}
ul li:hover{
    transform: scale(1.2);
    color: palevioletred;
}
.nav-right{
    display: flex;
    align-items: center;
}
.nav-right i{
    font-size: 25px;
    color: #000;
    margin: 0 10px;
    transition: all .4s ease;
}
.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    color: #333;
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    padding: 10px 15px;
}

.dropdown-menu a {
    color: #333;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1; 
}

.dropdown:hover .dropdown-menu {
    display: block;
}
#menu-icon{
    font-size: 32px;
    z-index: 10001;
    margin-left: 15px;
    display: none;
    text-decoration: none;
}
header.sticky{
    background-color: #ffffff;
    padding:  25px 12%;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
section{
    padding: 70px 0% 80px;
}
.banner {
    width: 100%;
    padding: 80px 0% 80px;
}

.banner-text {
    padding: 30px 0px;
    text-align: center;
    background-color: palevioletred;
    margin: 19px 0px;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    display: flex;
}

.banner-text h1 {
    text-transform: uppercase;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #ffffff;
    white-space: nowrap;
    padding: 0.6rem;
    letter-spacing: 1px;
    animation: move-rtl 6000ms linear infinite;
}
.banner-text h1{
    text-transform: uppercase;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #ffffff;
    white-space: nowrap;
    padding: 0.6rem;
    letter-spacing: 1px;
    animation: move-rtl 6000ms linear infinite;
}
@keyframes move-rtl {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

.header2 {
    height: 80px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid palevioletred;
}

.header2 .logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.cart {
    display: flex;
    background-color: white;
    /* border-bottom: 1px solid palevioletred; */
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
}

.fa-solid {
    color: palevioletred;
}

.cart p {
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: palevioletred;
    color: white;
    margin-bottom: 3px;
}

.container2 {
    /* display: flex; */
    /* width: 70%; */
    margin-bottom: 30px;
    padding: 0px 12% 80px;
}

#root2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-gap: 20px;
    padding-bottom: 20px;
}

.sidebar2 {
    width: 100%;
    border-radius: 5px;
    background-color: aliceblue;
    /* margin-left: 20px; */
    padding: 15px;
    text-align: center;
}

.head2 {
    background-color: palevioletred;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}

.head2 p {
    padding-top: 13px;
    margin-left: 48%;
    font-weight: bold;
    font-size: 20px;
}

.foot2 {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid palevioletred;
    border-radius: 5px;
    padding: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.img-box {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images {
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}

.bottom {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}

h2 {
    font-size: 20px;
    color: red;
}

button {
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: black;
    padding: 7px 25px;
    cursor: pointer;
    color: palevioletred;
}

button:hover {
    background-color: palevioletred;
    color: white;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: none;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 10px;
}

.row-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid palevioletred;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowimg {
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}

.fa-trash:hover {
    cursor: pointer;
    color: whitesmoke;
}




.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    gap: 2rem;
    background-color: aliceblue;
    padding: 70px 12% 80px;
}

.footer-box{
    display: flex;
    flex-direction: column;
}
.footer-box a{
    color: #3b3b3b;
    font-size: 15px;
    margin-bottom: 0.8rem;
    transition: all 0.50s ease;
}
.footer-box a:hover{
    transform: translateX(5px);
    color: palevioletred;
}
.footer-box h3{
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0px;
}
.footer-box .icons a{
    font-size: 22px;
    display: inline-block;
    margin-right: 12px;
    transition: all 0.6s;
}
.copyright{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 12% 20px;
}
.end-img
{
    color: #3b3b3b;
    font-size: 12px;
    cursor: pointer;
}
.top{
    color: #000;
    font-size: 30px;
}